src/main/mule/core-banking-customers-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <!-- GET /customers - Business Logic Flow -->
  <flow name="get-customers-business-logic" doc:name="get-customers-business-logic">
    <try doc:name="Try">
      <ee:transform doc:name="Mock Select Customers">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var params = payload default {}
---
// Mock data - simulating database query results
[
  {
    id: "cust-001",
    customer_number: params.customerNumber default "CUST-000001",
    party_type: "Individual",
    first_name: "John",
    last_name: params.lastName default "Doe",
    middle_name: null,
    organization_name: null,
    date_of_birth: "1990-01-15" as Date,
    tax_id: params.taxId default "TAX-123456",
    status: params.status default "Active",
    customer_segment: "Retail",
    relationship_manager: "RM-001",
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: "2024-01-20T00:00:00Z" as DateTime
  },
  {
    id: "cust-002",
    customer_number: "CUST-000002",
    party_type: "Individual",
    first_name: "Jane",
    last_name: "Smith",
    middle_name: null,
    organization_name: null,
    date_of_birth: "1985-05-20" as Date,
    tax_id: "TAX-789012",
    status: "Active",
    customer_segment: "Premium",
    relationship_manager: "RM-002",
    created_at: "2024-02-01T00:00:00Z" as DateTime,
    updated_at: "2024-02-01T00:00:00Z" as DateTime
  }
] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform to Customer Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((customer) -> {
  id: customer.id,
  customerNumber: customer.customer_number,
  party: {
    partyType: customer.party_type,
    firstName: customer.first_name,
    lastName: customer.last_name,
    middleName: customer.middle_name,
    organizationName: customer.organization_name,
    dateOfBirth: customer.date_of_birth,
    taxId: customer.tax_id
  },
  status: customer.status,
  customerSegment: customer.customer_segment,
  relationshipManager: customer.relationship_manager,
  createdAt: customer.created_at,
  updatedAt: customer.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <raise-error type="CUSTOM:DATABASE_ERROR" description="#[payload.error.message]"/>
        </on-error-propagate>
        <on-error-propagate type="VALIDATION:NOT_NULL" enableNotifications="true" logException="true" doc:name="Validation Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "VALIDATION_ERROR",
    message: error.description default "Invalid request parameters",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <raise-error type="CUSTOM:VALIDATION_ERROR" description="#[payload.error.message]"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /customers - Business Logic Flow -->
  <flow name="create-customer-business-logic" doc:name="create-customer-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
var party = payload.party default {}
---
{
  customer_number: payload.customerNumber default null,
  party_type: party.partyType,
  first_name: party.firstName default null,
  last_name: party.lastName default null,
  middle_name: party.middleName default null,
  organization_name: party.organizationName default null,
  date_of_birth: party.dateOfBirth default null,
  tax_id: party.taxId default null,
  status: payload.status default 'Active',
  customer_segment: payload.customerSegment default null,
  relationship_manager: payload.relationshipManager default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <ee:transform doc:name="Mock Insert Customer">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var req = payload
---
// Mock insert - return created customer
[{
  id: "cust-" ++ (now() as String {format: "yyyyMMddHHmmssSSS"}),
  customer_number: req.customer_number default "CUST-" ++ (now() as String {format: "yyyyMMddHHmmss"}),
  party_type: req.party_type,
  first_name: req.first_name default null,
  last_name: req.last_name default null,
  middle_name: req.middle_name default null,
  organization_name: req.organization_name default null,
  date_of_birth: req.date_of_birth default null,
  tax_id: req.tax_id default null,
  status: req.status default "Active",
  customer_segment: req.customer_segment default null,
  relationship_manager: req.relationship_manager default null,
  created_at: now(),
  updated_at: now()
}]]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var customer = payload[0]
---
{
  id: customer.id,
  customerNumber: customer.customer_number,
  party: {
    partyType: customer.party_type,
    firstName: customer.first_name,
    lastName: customer.last_name,
    middleName: customer.middle_name,
    organizationName: customer.organization_name,
    dateOfBirth: customer.date_of_birth,
    taxId: customer.tax_id
  },
  status: customer.status,
  customerSegment: customer.customer_segment,
  relationshipManager: customer.relationship_manager,
  createdAt: customer.created_at,
  updatedAt: customer.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while creating the customer",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <raise-error type="CUSTOM:DATABASE_ERROR" description="#[payload.error.message]"/>
        </on-error-propagate>
        <on-error-propagate type="VALIDATION:NOT_NULL" enableNotifications="true" logException="true" doc:name="Validation Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "VALIDATION_ERROR",
    message: error.description default "Invalid request body",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <raise-error type="CUSTOM:VALIDATION_ERROR" description="#[payload.error.message]"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /customers/{customerId} - Business Logic Flow -->
  <flow name="get-customer-by-id-business-logic" doc:name="get-customer-by-id-business-logic">
    <try doc:name="Try">
      <ee:transform doc:name="Mock Select Customer by ID">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var customerId = vars.customerId
---
// Mock data - return customer if customerId matches, otherwise empty array
if (customerId != null and customerId != "")
  [{
    id: customerId,
    customer_number: "CUST-000001",
    party_type: "Individual",
    first_name: "John",
    last_name: "Doe",
    middle_name: null,
    organization_name: null,
    date_of_birth: "1990-01-15" as Date,
    tax_id: "TAX-123456",
    status: "Active",
    customer_segment: "Retail",
    relationship_manager: "RM-001",
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: "2024-01-20T00:00:00Z" as DateTime
  }]
else
  []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <choice doc:name="Customer Found?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var customer = payload[0]
---
{
  id: customer.id,
  customerNumber: customer.customer_number,
  party: {
    partyType: customer.party_type,
    firstName: customer.first_name,
    lastName: customer.last_name,
    middleName: customer.middle_name,
    organizationName: customer.organization_name,
    dateOfBirth: customer.date_of_birth,
    taxId: customer.tax_id
  },
  status: customer.status,
  customerSegment: customer.customer_segment,
  relationshipManager: customer.relationship_manager,
  createdAt: customer.created_at,
  updatedAt: customer.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
        </when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Customer not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <raise-error type="CUSTOM:NOT_FOUND" description="Customer not found"/>
        </otherwise>
      </choice>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <raise-error type="CUSTOM:DATABASE_ERROR" description="#[payload.error.message]"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- PUT /customers/{customerId} - Business Logic Flow -->
  <flow name="update-customer-business-logic" doc:name="update-customer-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
var party = payload.party default {}
---
{
  customerId: vars.customerId,
  customer_number: payload.customerNumber default null,
  party_type: party.partyType default null,
  first_name: party.firstName default null,
  last_name: party.lastName default null,
  middle_name: party.middleName default null,
  organization_name: party.organizationName default null,
  date_of_birth: party.dateOfBirth default null,
  tax_id: party.taxId default null,
  status: payload.status default null,
  customer_segment: payload.customerSegment default null,
  relationship_manager: payload.relationshipManager default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <ee:transform doc:name="Mock Update Customer">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var req = payload
var customerId = req.customerId
---
// Mock update - return updated customer if customerId exists
if (customerId != null and customerId != "")
  [{
    id: customerId,
    customer_number: req.customer_number default "CUST-000001",
    party_type: req.party_type default "Individual",
    first_name: req.first_name default "John",
    last_name: req.last_name default "Doe",
    middle_name: req.middle_name default null,
    organization_name: req.organization_name default null,
    date_of_birth: req.date_of_birth default ("1990-01-15" as Date),
    tax_id: req.tax_id default "TAX-123456",
    status: req.status default "Active",
    customer_segment: req.customer_segment default "Retail",
    relationship_manager: req.relationship_manager default "RM-001",
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: now()
  }]
else
  []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <choice doc:name="Update Successful?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var customer = payload[0]
---
{
  id: customer.id,
  customerNumber: customer.customer_number,
  party: {
    partyType: customer.party_type,
    firstName: customer.first_name,
    lastName: customer.last_name,
    middleName: customer.middle_name,
    organizationName: customer.organization_name,
    dateOfBirth: customer.date_of_birth,
    taxId: customer.tax_id
  },
  status: customer.status,
  customerSegment: customer.customer_segment,
  relationshipManager: customer.relationship_manager,
  createdAt: customer.created_at,
  updatedAt: customer.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
        </when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Customer not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <raise-error type="CUSTOM:NOT_FOUND" description="Customer not found"/>
        </otherwise>
      </choice>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while updating the customer",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <raise-error type="CUSTOM:DATABASE_ERROR" description="#[payload.error.message]"/>
        </on-error-propagate>
        <on-error-propagate type="VALIDATION:NOT_NULL" enableNotifications="true" logException="true" doc:name="Validation Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "VALIDATION_ERROR",
    message: error.description default "Invalid request body",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <raise-error type="CUSTOM:VALIDATION_ERROR" description="#[payload.error.message]"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /customers/search - Business Logic Flow -->
  <flow name="search-customers-business-logic" doc:name="search-customers-business-logic">
    <ee:transform doc:name="Build Search Query Parameters">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
var criteria = payload.criteria default {}
---
{
  lastName: criteria.lastName default null,
  firstName: criteria.firstName default null,
  taxId: criteria.taxId default null,
  email: criteria.email default null,
  phone: criteria.phone default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <ee:transform doc:name="Mock Search Customers">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var params = payload default {}
---
// Mock search results
[
  {
    id: "cust-001",
    customer_number: "CUST-000001",
    party_type: "Individual",
    first_name: params.firstName default "John",
    last_name: params.lastName default "Doe",
    middle_name: null,
    organization_name: null,
    date_of_birth: "1990-01-15" as Date,
    tax_id: params.taxId default "TAX-123456",
    status: "Active",
    customer_segment: "Retail",
    relationship_manager: "RM-001",
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: "2024-01-20T00:00:00Z" as DateTime
  }
] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((customer) -> {
  id: customer.id,
  customerNumber: customer.customer_number,
  party: {
    partyType: customer.party_type,
    firstName: customer.first_name,
    lastName: customer.last_name,
    middleName: customer.middle_name,
    organizationName: customer.organization_name,
    dateOfBirth: customer.date_of_birth,
    taxId: customer.tax_id
  },
  status: customer.status,
  customerSegment: customer.customer_segment,
  relationshipManager: customer.relationship_manager,
  createdAt: customer.created_at,
  updatedAt: customer.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while searching customers",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <raise-error type="CUSTOM:DATABASE_ERROR" description="#[payload.error.message]"/>
        </on-error-propagate>
        <on-error-propagate type="VALIDATION:NOT_NULL" enableNotifications="true" logException="true" doc:name="Validation Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "VALIDATION_ERROR",
    message: error.description default "Invalid search criteria",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <raise-error type="CUSTOM:VALIDATION_ERROR" description="#[payload.error.message]"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

</mule>
