src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <!-- APIkit Router Configuration -->
  <apikit:config name="core-banking-customers-system-api-config" 
                  raml="core-banking-customers-system-api.raml" 
                  outboundHeadersMapName="outboundHeaders" 
                  httpStatusVarName="httpStatus"/>

  <!-- Main HTTP Listener with APIkit Router -->
  <flow name="main">
    <http:listener config-ref="HTTP_Listener_config" path="/api/*" doc:name="HTTP Listener"/>
    <apikit:router doc:name="APIkit Router" doc:id="1f568599-e7e8-466c-af9f-46d9d173df83" config-ref="core-banking-customers-system-api-config"/>
    <error-handler>
      <on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Resource not found",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable value="404" doc:name="httpStatus" doc:id="a8159ca6-75e2-44fd-9b41-f73056469b34" variableName="httpStatus"/>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "BAD_REQUEST",
    message: error.description default "Bad request",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
				<set-variable value="400" doc:name="httpStatus" doc:id="53eed608-7934-4bf5-8f19-71004219147d" variableName="httpStatus" />
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_ACCEPTABLE" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_ACCEPTABLE",
    message: "Content type not acceptable",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
				<set-variable value="406" doc:name="httpStatus" doc:id="f78f38ac-778c-48df-a0e8-1dc064d42929" variableName="httpStatus" />
      </on-error-propagate>
      <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "UNSUPPORTED_MEDIA_TYPE",
    message: "Unsupported media type",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
				<set-variable value="415" doc:name="httpStatus" doc:id="1f89da3e-9968-4305-97a9-90ba7b6ccb03" variableName="httpStatus" />
      </on-error-propagate>
      <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "METHOD_NOT_ALLOWED",
    message: "Method not allowed",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
				<set-variable value="405" doc:name="httpStatus" doc:id="d197f0ff-2b37-44a4-aef3-2f648e0f9327" variableName="httpStatus" />
      </on-error-propagate>
    </error-handler>
  </flow>

  <!-- GET /customers -->
  <flow name="get:\customers:core-banking-customers-system-api-config">
    <ee:transform doc:name="Build Query Parameters">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  customerNumber: attributes.queryParams.customerNumber default null,
  status: attributes.queryParams.status default null,
  lastName: attributes.queryParams.lastName default null,
  taxId: attributes.queryParams.taxId default null,
  limit: (attributes.queryParams.limit as Number default 100) as String,
  offset: (attributes.queryParams.offset as Number default 0) as String
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <flow-ref name="get-customers-business-logic" doc:name="get-customers-business-logic"/>
  </flow>

  <!-- POST /customers -->
  <flow name="post:\customers:core-banking-customers-system-api-config">
    <flow-ref name="create-customer-business-logic" doc:name="create-customer-business-logic"/>
  </flow>

  <!-- GET /customers/{customerId} -->
  <flow name="get:\customers\(customerId):core-banking-customers-system-api-config">
    <ee:transform doc:name="Extract Customer ID" doc:id="d44d01ba-ab6e-4f4e-aa15-db137a76c037" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="customerId" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.customerId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref name="get-customer-by-id-business-logic" doc:name="get-customer-by-id-business-logic"/>
  </flow>

  <!-- PUT /customers/{customerId} -->
  <flow name="put:\customers\(customerId):core-banking-customers-system-api-config">
    <set-variable value="#[attributes.uriParams.customerId]" variableName="customerId" doc:name="Set Customer ID"/>
    <flow-ref name="update-customer-business-logic" doc:name="update-customer-business-logic"/>
  </flow>

  <!-- POST /customers/search -->
  <flow name="post:\customers\search:core-banking-customers-system-api-config">
    <flow-ref name="search-customers-business-logic" doc:name="search-customers-business-logic"/>
  </flow>

</mule>

